/**
 * @variables.scss
 * Custom Theme Variables
 * 
 */



// Abstaende
// -------------------------
$abstandXlarge:				  55px;
$abstandLarge:				  45px;
$abstandMedium:			 	  35px;
$abstandSmall:				  25px;
$abstandSmaller:			  15px;


// Border Colors
// -------------------------
$borderDarkColor:     $grayDark;
$borderLightColor:    $grayLight;


// Footer
// -------------------------
$footerHight:         400px;